<!DOCTYPE html>
<html>
    <head>
        <title>Face Emotion with CNN Model</title>
    </head>
    <style> 
        body {
          background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
          background-color: #42327b;
        }
        </style>
    <body>
        
        <center> <h3 style="color:whitesmoke; font-family: Helvetica;">Face Emotion with CNN Model </h3></center>
        <div id="container">
            <center><img src="{{ url_for('video_feed') }}"></center>
        </div>

    </body>
</html>
